.modal-main-container{
    width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color:rgba(203,192,192,0.75);
     position: fixed;
 
 }
 .modal-container{
 
     width: 80%;
     height: 70%;
     background-color: whitesmoke;
 
 }
 .modal-header{
     height: 15%;
     padding: 2px 12px;
     display: flex;
     align-items: flex-end;
     flex-direction: column;
     cursor: pointer;
     font-weight: 32px;
     font-size: 16px;
     font-weight: bold;
     color: #444141;
 }
 .modal-body{
     display: flex;
     align-items: center;
     flex-direction: column;
     
     margin-right: 50%;
 }
 .description{
     
     font-weight: normal;
     font-size: 20px;  
 }
 .name-input{
 
     margin-bottom: 5px;
     
 }
 
 .nametextbox{
     margin-left: 33px;
 
 }
 .nametextbox:hover{
     border-style: dotted;
 }
 .amount-input{
 
     margin-bottom: 5px;
     
 }
 .amounttextbox{
     margin-left: 14px;
 
 }
 .quantity-input{
     margin-bottom: 5px;
 }
 .quantitytextbox{
     margin-left: 10px;
 
 }
 .form-submit-btn{
     display: flex;
     align-items: flex-end;
     flex-direction: row;
     height: 100px;
     padding: 10px;
     margin-left: 80px;
 }
 


 .submit-btn{
    cursor: pointer;
    font-weight: 400;
 
    padding: 9px 21px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;

}


.submit-btn:active {
    transform: scale(0.95);
}

.submit-btn:hover {
    opacity: 0.9;
}