.table-container table,thead,tbody,tr{

    display: table;
    table-layout: fixed;
    width: 100%;
}
.table{
    width: 100%;
    text-align: left;
    color: #000000a6;
}

.head-row {
        background-color: #0000000d;
        border-radius: 5px;
        
    }
.head-row th {
    padding: 12px 28px;
    color: #00000085;
    font-weight: 400;
}
.body {
    display: block;
    height: 85vh;
    overflow: auto;
}
.row td {
    padding: 0px 28px;
    padding-top: 28px;


}

