.component-container{
    display: flex;
    flex-direction: column;
    padding: 32px ;
}
.header-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 16px ;
}
.open-modal-btn{
    cursor: pointer;
    font-weight: 400;
 
    padding: 9px 21px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;

}


.open-modal-btn:active {
    transform: scale(0.95);
}

.open-modal-btn:hover {
    opacity: 0.9;
}